<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="main.css" />
    </head>
    <body>
        <div class="content-wrapper shadow-halo">
			<div class="header shadow-down">
			    The header
			    <div class="header-actions">
			         <div class="action">
			             <a href="#"><span class="icon icon-up" title="Go one level up"></span></a>
			         </div>
			    </div>
			</div>
			<div class="content">
	            <div class="entry">
	                <div class="entry-label">
	                    <a href="#" class="inner">
	                       <span class="icon icon-dir"></span>
	                       images
	                    </a>
	                </div>
	                <div class="entry-description inners">
	                    Directory
	                </div>
	            </div>
	            <div class="entry">
                    <div class="entry-label">
                        <a href="#" class="inner">
                            <span class="icon icon-file-color3"></span>
                            main.css
                        </a>
                    </div>
                    <div class="entry-description inner">
                        File, size: 951 bytes
                    </div>
                </div>
                 <div class="entry">
                    <div class="entry-label">
                        <a href="#" class="inner">
                            <span class="icon icon-file-color3"></span>
                            test.html
                        </a>
                    </div>
                    <div class="entry-description inner">
                        File, size: 814 bytes
                    </div>
                </div>
			</div>
			<div class="footer">
			  the footer
			</div>
		</div>
    </body>
</html>